.voice-container {
  font-family: "Catamaran";
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #fff
}

.voice-container .voice-states {
  list-style-type: none;
  padding-left: 15px
}

.voice-container .voice-states .voice-state {
  height: 50px;
  margin-bottom: 8px
}

.voice-container .voice-states .voice-state .avatar {
  height: 50px;
  width: 50px;
  border: 3px solid transparent;
  border-radius: 50%;
  float: left;
  margin-right: 8px
}

.voice-container .voice-states .voice-state .avatar.speaking {
  border-color: #43b581
}

.voice-container .voice-states .voice-state .user {
  padding-top: 18px
}

.voice-container .voice-states .voice-state .user .name {
  background-color: #1e2124;
  border-radius: 3px;
  padding: 4px 6px
}

.voice-container .voice-states .voice-state.small-avatar {
  height: 40px
}

.voice-container .voice-states .voice-state.small-avatar .avatar {
  height: 40px;
  width: 40px
}

.voice-container .voice-states .voice-state.small-avatar .user {
  padding-top: 12px
}


.status-container {
  height: 64px;
  width: 312px;
  font-size: 14px;
  background-color: #1e2124;
  border-radius: 3px
}

.status-container .status {
  font-family: "Catamaran";
  background-size: 32px 30px;
  background-repeat: no-repeat;
  background-position: 267px 17px;
  padding: 14px 20px
}

.status-container .status .server-icon {
  float: left;
  padding-right: 10px
}

.status-container .status .server-icon img {
  height: 35px;
  border-radius: 50%
}

.status-container .status .server-info {
  line-height: 16px;
  font-weight: 700
}

.status-container .status .server-info .name {
  text-overflow: ellipsis;
  max-width: 160px;
  display: inline-block;
  margin-bottom: -3px;
  overflow: hidden
}

.status-container .status .server-info .online-count {
  opacity: .3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  padding-left: 4px
}

.status-container .status .invite-link {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600
}
