
.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #282c34;
  width: 100%;
  text-align: center;
}

.App-footer p {
  font-size: .9rem;
  margin: .5rem;
}

.App-footer a {
  color: #61dafb;
}

header a {
  color: #61dafb;
}